
<div class="row">

  <!-- Jours J+++ -->
  <div class="col-md-4" ng-repeat="forecast in dailyForecast">
    <div class="panel panel-info">
      <div class="panel-heading">{{ forecast.dt + 1000 | date:'medium' }}</div>
      <div class="panel-body">
        <div>
          {{ forecast.temp.min }} < <strong>{{ forecast.temp.day }} °C</strong> < {{ forecast.temp.max }}
        </div>
        <div>
          <img ng-src="http://openweathermap.org/img/w/{{forecast.weather[0].icon}}.png">
        </div>
      </div>
    </div>
  </div>

</div>
