
<p class="text-muted">Ville : {{ weatherTown.name }}</p>

<div class="row">

  <!-- Jour J -->
  <div class="col-md-4" ng-repeat="forecast in forecast">
    <div class="panel panel-primary">
      <div class="panel-heading">{{ forecast.dt + 1000 | date:'medium' }}</div>
      <div class="panel-body">
        <div>
          {{ forecast.main.temp_min }} &lt; <strong>{{ forecast.main.temp }} °C</strong> &lt; {{ forecast.main.temp_max }}
        </div>
        <div>
          <img ng-src="http://openweathermap.org/img/w/{{forecast.weather[0].icon}}.png">
        </div>
      </div>
    </div>
  </div>

</div>
